<xf:macro name="accept_rules" arg-forum="!" arg-container=".formSubmitRow" arg-controls="button[type=submit]"
		  arg-rowType="">
	<xf:if is="$forum.hlmod_rules_url is not empty">
		<xf:checkboxrow rowtype="{$rowType}">
			<xf:option name="hlmod_rules_url_accept" value="{$forum.hlmod_rules_url}"
					   data-xf-init="disabler" data-container="{$container}" data-controls="{$controls}">
				{{ phrase('hlmod_forum_rules_accept.i_read_and_accept_forum_rules', {'url': $forum.hlmod_rules_url}) }}
			</xf:option>
		</xf:checkboxrow>
	</xf:if>
</xf:macro>

<xf:macro name="option_row" arg-forum="!">
	<xf:textboxrow name="hlmod_rules_url" value="{$forum.hlmod_rules_url}"
				   label="{{ phrase('hlmod_forum_rules_accept.label') }}"
				   explain="{{ phrase('hlmod_forum_rules_accept.explain') }}" />
</xf:macro>